.main-page-content {
  display: flex;
  flex-direction: column;
}

.main-page-left {
  display: flex;
}
.first-line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 100%;
}

.title-content {
  font-size: 54.4px;
  width: 60%;
  text-align: left;
}

.second-line {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  padding-bottom: 30px;
}

.subtitle-content {
  font-weight: bold;
  padding: 50px 0px;
}
